/* body {
    background-image: url(./images/zakovatImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    background-position: center;
    height: 100%;
    padding-bottom: 10px;
} */